@import "../../theme/variables.scss";

.page-login-view {
  position: relative;
  background: $color-light;
  .password-opt {
    color: $color-grey;
  }

  .view-bottom {
    padding: 30px;

    .bottom-login{
      position: fixed;
      left: 0;
      bottom: 20px;
      width: 100%;
      padding: 30px;
    }
  }
}