.approval-detail-body {
    .right-label {
        text-align: right;
    }

    .reason-img {
        flex: 0 0 25%;
        max-width: 25%;
        text-align: center;
        padding: 10px 5px;
    }
    .header-image {
        border-radius: 50%;
        width: 65px;
        height: 65px;
    }
    .appoval-person-list {
        background: '#f5f5f5';
        margin: 16px 16px;
    }
    .approval-person {
        text-align: center;
        flex: 0 0 33%;
        max-width: 33%;
        padding-right: 20px;
    }
    .person-img {
        width: 65px;
        height: 65px;
    }
    .arrow-right {
        position: absolute;
        right: 0;
        top: 50%;
        width: 20px;
        height: 20px;
    }
}

.bottom-view {
    padding: 5px 8px;
    bottom: 60px;
    left: 0;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}

.bottom-button {
    height: 50px;
    width: 50%
}