.body {
  .container-fluid {
    width: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../../../assets/image/home/salary/v2_pgohyt.png);
    height: 175px;
  }
}
