@import '../../../../theme/variables.scss';

.my-approval-body {
    .segment-button-two {

        &.true {
            color: $color-primary;
        }

        &.false {
            color: $color-grey;
        }
    }
    .segment-button-one {

        &.false {
            color: $color-primary;
        }

        &.true {
            color: $color-grey;
        }
    }

    .status-label {
        &.one {
            color: $color-primary;
        }
        &.two {
            color: $color-secondary;
        }
        &.three {
            color: $color-danger;
        }
    }

}