
    .calendar-panel{
        padding: 5px 0;
        background: #fff;
        overflow:hidden;

        height: 300px;
        ul{
            margin: 0;
            padding: 0 1%;
            li{
                display: inline-block;
                float: left;
                overflow: hidden;
                padding: 0;
                margin: 0; 
                
                width: 14%;
                height: 40px;

                line-height: 30px;
                text-decoration: none;
                text-align: center;
                color: $color-text;
            }
        }

        .week-names{
            display: block;
            ul li{
                font-size: 12px;
            }
        }
        .dates{
            ul li{
                font-size: 14px;
                >span{
                    display: block;
                    line-height: 30px;
                }
                >strong{
                    display: block;
                    line-height: 10px;
                    &.flag{
                        color: $color-primary;
                    }
                }
                &.active{
                    >span{
                        background: $color-primary;
                        color: #fff;
                        width: 30px;
                        margin: 0 auto;
                        border-radius: 15px;
                    }
                }
                &.today{
                    color: $color-primary;
                    &.active{
                        >span{
                            background: $color-primary;
                            color: #fff;
                            width: 30px;
                            margin: 0 auto;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }